doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./slides.css")
    title= pageTitle + " Slides"
  body
    section.slide.title
      h1= pageTitle
      if typeof sessionCount !== 'undefined' && typeof paperCount !== 'undefined'
        p.stats #Sessions: #{sessionCount}, #Papers: #{paperCount}
      p.source Source: #[a.source-link(href=sourceUrl target="_blank") #{sourceLabel}]
    each session, sidx in sessions
      section.slide.session-title
        h1 #{sidx + 1}. #{session.name}
      each paper in session.papers
        section.slide.paper(class=paper.image_file ? '' : 'no-image')
          if paper.image_file
            .image-column
              img.paper-image(src="images/" + paper.image_file, alt=paper.title)
          .text-column
            h2.paper-title= paper.title
            ul.author-list
              - for(var i = 0; i < paper.authors.length; i++) {
                li
                  = paper.authors[i] + ' '
                  if paper.affiliations && paper.affiliations[i] && paper.affiliations[i].length
                    small.affiliation.text-body-secondary
                      | (#{paper.affiliations[i].join(', ')})
              - }
            if paper.description
              p.description= paper.description
